body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.section {
  margin-bottom: 20px;
}

.experience-entry, .project-entry, .education-entry {
  margin-bottom: 15px;
}

button[type="button"] {
  margin-top: 5px;
}

button[type="submit"] {
  margin-top: 20px;
  width: 100%;
}

div {
  background-color: inherit;
}
.button-group {
  display: flex;
  gap: 10px; /* Space between buttons */
  justify-content: start;
}

.custom-button {
  background-color: #007bff; /* Green background */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #007bff; /* Darker green on hover */
}

.ml-2 {
  margin-left: 10px; /* Additional margin to separate buttons */
}
